@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Italiana&family=Prata&family=Syne&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: indivisible, sans-serif;
  font-style: normal;
  font-weight: 400;
  /*minimize page and doesnt change anything*/
  /*width: 200vh;*/
  overflow: scroll;
}

#og {
  color: black;
}

.project {
  background-color: #e9e2db;
}

.project-body {
  margin-top: 120px; background-color: #e9e2db;
}

#first {
  color: black;
  padding-left: 10px;
}

#home {
  display: inline-block;
  background-image: url("images/large-background.gif");
  /*3A5743;*/
  margin: -8px;
  color: black;
}
.home-text h1 {
  font-family: larken, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 44px;
}

#home p {
  font-size: 16px;
  line-height: 150%;
  margin-top: -10px;
}

.home-text {
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 500px;
  position: relative;
  top: 200px;
  letter-spacing: 1px;
}

.text-h {
  width: 50%;
}

#home img {
  transition: all 1s ease-in-out;
  width: 40%;
  height: 40%;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  float: right;
  position: relative;
  bottom: 550px;
  margin-top: 65px;
  margin-bottom: -35%;
  margin-right: 7%;
  border: solid;
}

#home h2 {
  font-family: larken, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 44px;
  width: 70%;
  padding-bottom: 40px;
}

#home img:hover {
  transition: all 1s ease-in-out;
  filter: drop-shadow(0 0 0.75rem black);
}

#page-layout {
  background-color: #e9e2db;
}

.images.center {
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding-bottom: 40px;
}

.images.left {
  width: 49%;
  float: left;
  text-align: center;
  margin-left: 29px;
  padding-right: 0px;
}

.images.right {
  width: 49%;
  float: right;
  margin-right: 0px;
}

.images .header {
  font-size: 28px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.header-padding {
  font-size: 28px;
  padding-top: 90px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.header.center {
  padding-top: 50px;
}

.text {
    font-size: 14px;
}

#d {
  padding-top: 0px;
  width: 60.5%;
  padding-bottom: 10px;
  transition: all 1s ease-in-out;
}

#rock {
  width: 100%;
  padding-bottom: 10px;
  transition: all 1s ease-in-out;
}

.align {
  text-align: left;
}
#pro {
  width: 100%;
  padding-bottom: 10px;
  transition: all 1s ease-in-out;
}

#web {
  width: 95%;
  padding-bottom: 10px;
  transition: all 1s ease-in-out;
}

.spacer {

}

#marble {
  width: 100%;
  padding-bottom: 10px;
  transition: all 1s ease-in-out;
}

#flood {
  width: 80%;
  padding-bottom: 10px;
  transition: all 1s ease-in-out;
}

.c {
  align-items: left;
  width: 100%;
  transition: all 1s ease-in-out;
}

.images.right.cert {
  position: relative;
  top: -28px;
}

.request {
  display: inline-block;
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 40px;
}

#check {
  padding-bottom: 5px;
}

.sub-button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #e7e7e7;
  font-family: "Syne", serif;
  letter-spacing: 2px;
  margin-left: 5%;
  transition: all 1s ease-in-out;
}
.sub-button:hover {
  background: #aa998f;
  transition: all 1s ease;
}

#cover {
  width: 13%;
  height: 13%;
  transition: all 1s ease-in-out;
}

#spread {
  width: 30%;
  padding-right: 10px;
  transition: all 1s ease-in-out;
}

.heading-right-design {

  width: 60%;
  padding-top: 1%;
  padding-bottom: 3%;
}

.heading-design {
  font-size: 28px;
  letter-spacing: 2px;
  padding-top: 2px;
  padding-bottom: 6px;
}

.pages {
  margin-bottom: -10px;
}

.book-button {
    color: gray !important;

}
.book-button:hover {
  color: black !important;
}

#video {
  border-radius: 40px;
  width: 250px;
  transition: all 1s ease-in-out;
}
#video:hover {
  transition: all 1s ease;
  filter: drop-shadow(0 0 0.75rem black);
}

#pasta {
  width: 25%;
  height: 25%;
  padding-bottom: 1%;
  transition: all 1s ease-in-out;
}
#pasta:hover {
  transition: all 1s ease;
  filter: drop-shadow(0 0 0.75rem black);
}
#speech {
  text-align: center;
  width: 90%;
  margin: auto;
  padding-bottom: 4%;
}

#bia {
  width: 40%;
  height: 40%;
}

.show-text {
  padding: 10% 10%;
}

.image-magic .show-text:hover {
  transition: all 1s ease;
  filter: drop-shadow(0 0 0.75rem black);
}

.image-magic .show-text {
  background-color: #c9bab1;
  opacity: 1;
  transition: all 1s ease-in-out;
}
#page-layout.imgbac {
  background-image: url("images/candabackground.gif");
  background-size: cover;
}

/* HOME CHANGES */
@media (max-width: 1015px) {
  .home-text {
    top: 0px;
    padding: 0px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px;
    margin-top: 5%;
  }

  .text-h {
    width: auto;
  }


  #home img {
    width: 50%;
    height: 50%;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    float: none;
    bottom: 0px;
    margin: 0px;
    margin-bottom: 10%;
    padding: auto;
  }
  #home {
    text-align: center;
  }
}

/* MOBILE WEBSITE UNDER CONSTRUCTION */
@media (max-width: 480px) {
  html {
    overflow: hidden;
  }
  #home {
    background-image: url("images/Mobile\ website.jpg");
    background-size: 100%;
    margin-top: -25%;
  }

  .links {
    visibility: hidden;
  }

  header {
    visibility: hidden;
  }

  .home-text {
    visibility: hidden;
  }

  #home img {
    visibility: hidden;
  }
}

@media (max-width: 570px) {
  .social {
    padding: 0px;
    margin-right: 170px;
    text-align: center;
  }

  #first {
    margin-bottom: 5px;
  }

  #last {
    margin-left: 55px;
  }

  .links li {
    margin-left: 20px;
  }
  #page-layout {
    padding: 3%;
  }
}

@media (max-width: 480px) {
  .links li {
    display: flex;
    padding: 0px;
    text-align: center;
    margin-right: 0px;
    margin-left: -50px;
  }
  #last {
    margin-right: 100px;
    padding: auto;
    margin-left: -50px;
  }
  .social {
    position: relative;
    float: left;
    margin-left: 2px;
  }

  header {
    position: absolute;
  }
  #page-layout {
    padding: 7%;
  }

  #imposter {
    width: 26%;
    height: 26%;
  }

  .home-text {
    margin-top: 35%;
  }

  .book-button {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
